@use '../../styles/variables';
@use '../../styles/colors';

.articlePublishedDateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  height: 21px;
  width: 100%;
}

.articlePublishedDateText {
  opacity: 0.6;
  color: colors.$dark-grey;
  font-size: variables.$fontSize-small;
  
  margin: 0;
}