.homePageWrapper {
  padding-top: 50px;
  padding-bottom: 63px;
}

.searchTextFieldWrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;

  max-width: 600px;
}

.searchTextFieldLabele {
  text-align: left;
  margin-bottom: 10px;

  font-weight: 600;
  line-height: 20px;
}

.searchResultCount {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;

  margin-bottom: 45px;

  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
